<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>YelpCamp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/public/styles/landing.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js">



</head>

<body>
  <div class="all">
    <img src="http://i.imgur.com/2LSMCmJ.jpg" class="backgr">

<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
  <div class="container msg">
  <p>Welcome to YelpCamp!</p>
<a href="/campgrounds" class="btn btn-primary">View All Campgrounds</a>
</div>
</div>

    </div>
    <div class="col-sm-4">
  </div>
</div>

<div class="trademark container fixed-bottom text-left">
<p >TradeMark YelpCamp 2019</p>
  </div>

</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/public/script/landing.js"></script>
</html>