<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title></title>

<style type="text/css">
		.thumbnail{
			margin-bottom: 20px;
		}
		ul{
			margin-left: 920px;
			margin-right: 0px;
		}
		.para{
			margin-top: 20px;
			
		}

		form{
			width: 30%;
			margin: 0 auto;
		}
		h1{
			text-align: center;
		}
		.location{
			width:30%;
			margin:auto;
			margin-top: 1%;
		}
	</style>
</head>
<body>
<%include header%>
<div class="container">
	<h1>Create A New Campground</h1>
<form action="/campgrounds" method="POST"  >
	<input type="text" class="form-control" name="name" placeholder="Place">
	<input type="text" class="form-control" name="img" placeholder="Image URL">
	<input type="text" class="form-control" name="description" placeholder="Description">
	<button class="btn btn-danger btn-block">Create!!</button>
</form>
<div class="location">	
<a href="/maps" class="btn btn-primary btn-block">Get Your Location</a>	
</div>
</div>
<p class="d-flex justify-content-center font-weight-bold para border-top">TradeMark YelpCamp 2019</p>
</body>
</html>