<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<style type="text/css">
		form{
			width: 30%;
			margin: 0 auto;
			margin-top: 80px;
		}
		h2{
			text-align: center;
			color:#3e5bed;
		}
	</style>
	<title></title>
</head>
<body>
<div>
	 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
  </div>
<div class="container">
    	<%if(message.length>0){%>
    <div class="alert alert-success" role="alert"><%=message%></div>
    	
		<%}%>
	</div>
	<form action="/register" method="POST">
  	<h2>Sign up</h2>

		<input type="text" class="form-control" name="username" placeholder="Username">
		<input type="password" class="form-control" name="password" placeholder="Password">
		<button class="btn btn-primary btn-block">Create Account</button>
	</form>
</body>
</html>